.admin-page{
    background-color: #ffffff;
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .admin-container {
    width: 400px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
    text-align: center;
  }
  
  .admin-container h1 {
    color: #333;
    margin-bottom: 20px;
  }
  
  .admin-container h2 {
    margin-top: 30px;
    margin-bottom: 10px;
  }
  
  .admin-container a {
    display: block;
    text-decoration: none;
    padding: 10px 20px;
    margin-bottom: 10px;
    background-color: #669cd5;
    color: #fff;
    border-radius: 4px;
    transition: background-color 0.3s ease;
  }
  
  .admin-container a:hover {
    background-color: #0056b3;
  }
  