/* CustomNavbar.css */
.custom-navbar {
    background-color: #ffffff;
    padding: 1rem 0;
    padding-left: 1rem;
   
  }
  
  .navbar-brand {
    font-size: 1.5rem;
    
  }
  .navbar-brand img {
    width: 100px; 
    height: auto;
  }
  .nav-link {
    margin-left: 15px; 
    color: #000;
  }