body {
  font-family: 'Arial', sans-serif; /* Change the font family as needed */
}
/* Header styles */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #f0f0f0;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

nav a {
  text-decoration: none;
  color: #333333;
  margin-left: 20px;
  transition: color 0.3s ease;
}

nav a:hover {
  color: #1165c0;
}


.hero {
  position: relative;
  height: 650px;
  overflow: hidden;
}


.hero-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero-text-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), transparent);
}

.hero-text-overlay h1 {
  font-size: 2.5em;
  margin-bottom: 15px;
}

.hero-text-overlay p {
  font-size: 1.2em;
  line-height: 1.5;
}
.search-bar {
  background-color: #f8f9fa;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-input {
  width: 60%;
  max-width: 400px;
  border: 1px solid #ced4da;
  border-radius: 5px;
  outline: none;
}

.search-button {
  padding: 10px 20px;
  width: 50%;
  background-color: #2c6fb7;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.search-button:hover {
  background-color: #0056b3;
}

.testimonials {
  padding: 40px;
  background-color: var(--light-color);
  text-align: center;
}

.testimonial-cards {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.testimonial-card {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 300px;
}

.testimonial-container {
  display: flex;
  
  background-color: #7d7c7d;
  padding: 20px;
  gap: 30px;
  border-radius: 10px;
  margin-top: 20px;
}




/* Footer.css */

.footer {
  background-color: #f1f1f1;
  padding: 20px;
  color: #333;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.footer-links a, .footer-bottom-links a {
  color: #333;
  text-decoration: none;
  margin-right: 20px;
  font-size: 14px;
}

.footer-links a:hover, .footer-bottom-links a:hover {
  text-decoration: underline;
}

.footer-social a {
  margin-right: 15px;
  color: #333;
  font-size: 18px;
}

.footer-social a:hover {
  color: #007bff;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-bottom-links {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.footer-bottom p {
  margin: 0;
}
