



.signup-page{
  background-image: url('https://images.pexels.com/photos/2079440/pexels-photo-2079440.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

 .signup-container {
    width: 350px;
    margin: 100px auto;
    padding: 30px;
    border-radius: 30px;
    text-align: center;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background:rgb(237,237,237,.1);
    backdrop-filter:blur(10px);
  }
  
  .signup-container h2 {
    margin-bottom: 20px;
    color: #2e2e2e;
  }

  .signup-container p {
    color: #2e2e2e;
  }
  
  .input-signup {
    margin-bottom: 20px;
    display: flex;
    text-align: left;
   
  }
  
  .input-signup label {
    display: block;
    margin-bottom: 5px;
    color: #333;
    
  }
  
  .input-signup input {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 30px;
  }

 
  
  .button-signup button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    background-color: #38b4da;
    color: #fff;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .button-signup button:hover {
    background-color: #2c8eac;
  }
  
  .error-message {
    color: #ff0000;
    margin-top: 10px;
  }

  