body {
  margin: 0;
  padding: 0;
}

.terms-container {
  padding: 20px;
}



.terms-list {
  padding-left: 20px;
}

.terms-list li {
  margin-bottom: 10px;
  font-weight: bold;
}

.terms-text,
.terms-section {
  margin-bottom: 20px;
  line-height: 1.6;
  color: #333;
}

.terms-ul {
  padding-left: 20px;
}

.terms-ul li {
  list-style-type: none;
}
