.custom-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #f8f9fa;
  border-bottom: 1px solid #dee2e6;
}

.navbar-brand {
  display: flex;
  align-items: center;
}

.navbar-brand img {
  height: 40px;
}

.nav-links {
  display: flex;
  align-items: center;
}

.nav-link {
  margin-left: 1rem;
  text-decoration: none;
  color: #007bff;
  font-size: 1rem;
}

.nav-link:hover {
  color: #0056b3;
}

.logout-button {
  background: none;
  border: none;
  color: #000;
  cursor: pointer;
  text-align: left;
  padding: 8px 16px;
  width: 100%;
  font-size: 16px;
}

.logout-button:hover {
  background-color: #f1f1f1;
}
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-toggle {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
  color: #000;
  text-decoration: none;
}

.dropdown-menu {
  display: block;
  position: absolute;
  top: 100%;
  right: 0; /* Align the dropdown to the right */
  background-color: #fff;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
  padding: 10px;
  z-index: 9999;
  border-radius: 20px;
}


.dropdown-item {
  padding: 8px 16px;
  text-decoration: none;
  color: #000;
  display: block;
}

.dropdown-item:hover {
  background-color: #f1f1f1;
}
